# Snakemake
.snakemake/
.cache/
.config/
work/
results/
logs/
snakemake.pid

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Data
refs/
fastq/
bam/
metrics/
vcf/
mpileup/
somaticseq/
tmp/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.vcf
*.vcf.gz
*.tbi
*.xlsx
