# Snakemake
.snakemake/
results/
logs/

# Python
__pycache__/
*.py[cod]
*$py.class

# Data
refs/
bam/
metrics/
vcf/
mpileup/
somaticseq/
tmp/
*.fastq
*.fastq.gz
*.bam
*.vcf
*.vcf.gz
*.xlsx
*.xls
*.csv
*.log
*.tbi
